@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    margin-top: 60px;
}

body {
    background-color: #ffffff; /* Couleur de fond claire */
    color: #000000; /* Couleur du texte sombre */
}

    body.dark-mode {
        background-color: #1a1a1a; /* Couleur de fond sombre */
        color: #ffffff; /* Couleur du texte clair */
    }

html {
    scroll-behavior: smooth;
    font-size: 70.5%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255 255 255 /0.9);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 10;
}

.menu {
    display: flex;
}

.logo {
    color: #f60c0c;
    font-weight: 700;
    font-size: 25px;
}

    .logo span {
        color: #000;
    }

.menu li {
    margin: 0 15px;
    list-style: none;
}

    .menu li a {
        font-size: 14px;
        text-decoration: 0;
        color: #f60c0c;
        position: relative;
    }

        .menu li a::before {
            position: absolute;
            top: -5px;
            left: 0;
            content: "";
            width: 0;
            height: 2px;
            border-radius: 6px;
            background-color: #000;
            transition: 0.5s;
        }

        .menu li a:hover::before {
            width: 100%;
        }

        .menu li a::after {
            position: absolute;
            bottom: -5px;
            right: 0;
            content: "";
            width: 0;
            height: 2px;
            border-radius: 6px;
            background-color: #f60c0c;
            transition: 0.5s;
        }

        .menu li a:hover::after {
            width: 100%;
        }

        .menu li a:hover {
            color: #000;
        }
/*Scrollbar CSS*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #f60c0c;
}
