<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="Collection.css">
</head>
<header>
    <div class="logo">
        <a href="#">
            <img src="../Images/logo_cinewaves.png" alt="Logo Cinéwaves">
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="#">Actualités</a></li>
            <li><a href="#">Cinéma</a></li>
        </ul>
    </nav>
    <div class="search">
        <input type="text" placeholder="Rechercher un film, une salle...">
    </div>
</header>
<body>
    <aside id="menu">
        <ul>
            <a href="test.html"><li>MES FILMS</li></a>
            <a href=""><li>MES CRITIQUES</li></a>
            <a href=""><li>MES AMIS</li></a>
            <a href=""><li>MES CINÉMAS</li></a>
            <a href="preferences.html"><li>MES PRÉFÉRENCES</li></a>
            <a href=""><li>NOTEZ LES FILMS</li></a>
        </ul>
    </aside>

        <div class="middle-side">
            <h1 class="move-left">MES COLLECTIONS</h1>
            <p class="perso">Perso</p>
            <div class="additional-info">
                <p>Vous n'avez pas encore de collections perso</p>
                <img src="chemin/vers/ton/image.jpg">
                <div class="yellow-box">
                    <p>Crée ma Première Collection</p>
                </div>
            </div>
            <div class="last-phrase">
                <p>Une collection vous permet d'organiser vos films que vous avez aimés, envies de voir (ou même détestés) sur les thèmes de votre choix. En manque d'inspiration ? Pourquoi ne pas commencer à créer votre Top 50 des films les plus aimés</p>
            </div>
        </div>

        <div class="vertical-line"></div>
    </div>
</body>
</html>

