<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="accueil.css">
    <title>Accueil</title>
</head>

<header>
    <img src="" alt="logo">
    <nav>
        <ul>
            <a href=""><li>Home</li></a>
            <a href=""><li>Forum</li></a>
            <a href=""><li>Statistique</li></a>
        </ul>
    </nav>
</header>

<body>
    <div  class="container0">
        <h1>Bienvenue  <?php  .... ?></h1>
        <p>Cinéma : <?php .... ?></p>
    </div>
    <div class="container1">
        <h2>Veuillez entrer votre numéro de salle</h2>
        <label for="numero">Numéro :</label>
        <input type="text" id="numero" placeholder="Entrez un numéro">
        <button onclick="validerNumero()">Valider</button>


    </div>


</body>

</html>