<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="salle.css">
        <title>Salle <?php echo  ?></title>
    </head>

    <header>
        <img src="" alt="logo">
        <nav>
            <ul>
                <a href=""><li>Home</li></a>
                <a href=""><li>Forum</li></a>
                <a href=""><li>Statistique</li></a>
            </ul>
        </nav>
    </header>

    <body>
        <div  class="container0">
            <p>Cinéma : <?php .... ?></p>
            <p>Salle : <?php  ... ?></p>
        </div>

        <div class="container1">
            <div  class="box1">
                <h2>Analyse des données</h2>
                <p>Vous trouverez  ci-contre les données de la salle <?php ... ?></p>
            </div>    
            <div class="box2">
                <img src="" alt="graphique des données">
            </div>
        </div>
    </body>
    
</html>